In [3]:
import pandas as pd

The purpose of this notebook is to create a ELT pipeline to get messages and categories data

## Load Raw Data

In [6]:
messages = pd.read_csv('/Users/dgrijalva/udacity/DataScience/Projects/DisasterResponsePipelines/Data/disaster_messages.csv')
categories = pd.read_csv('/Users/dgrijalva/udacity/DataScience/Projects/DisasterResponsePipelines/Data/disaster_categories.csv')

In [8]:
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

In [9]:
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [10]:
df = pd.merge(messages, categories, on='id')

NameError: name 'categories' is not defined